<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="header">
    <%= image_tag("twitter.png") %>
        <ul class="top_menu">
          <li><a href="#">log in</a></li>
          <li><a href="#">log out</a></li>
        </ul>
    </header>

        <%= yield %>
    <footer class="footer">
       <p>Copyright © 2020 Twyzer inc, All RIGHTS RESERVED.</p>
    </footer>

  </body>
</html>
